.form {
  margin: 30px 50px;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  background-color: hsl(173, 29%, 83%);
  display: flex;
  flex-direction: column;
}

.form__input {
  margin: 10px auto;
  padding: 5px;
  border: 2px solid black;
  border-radius: 7px;
  width: 100%;
  max-width: 400px;
}

.form__button {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding: 5px;
  background-color: hsl(173, 32%, 38%);
  font-size: 15px;
  border: 2px solid black;
  color: white;
  border-radius: 7px;
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, .4);
  text-shadow: 1px 1px 2px #222;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  transition: 0.3s;
}
.form__button:hover{
  background-color: hsl(173, 32%, 28%);
cursor: pointer;
}

.form__taskItem {
  display: flex;
  flex-direction: row;
   width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.taskItem__button {
  width: 30px;
  height: 30px;
  background-color: chartreuse;
  box-shadow: .5px .5px 3px 3px black;
   transition: 0.3s;
}

.taskItem__button:hover {
  opacity: .7;
  cursor: pointer;
}

.taskItem__button--doneTask {
  background-color: chartreuse;
}

.taskItem__button--removeTask {
  background-color: crimson;
}

i {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
}

.hide {
  display: none
}