.section__taskList {
  padding: 5px;
}

.section__taskItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase
}

.taskItem__button {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: chartreuse;
  box-shadow: .5px .5px 3px 3px black;
  transition: 0.3s;
}

.taskItem__button:hover {
  opacity: .7;
  cursor: pointer;
}

.taskItem__button--doneTask {
  background-color: chartreuse;
}

.taskItem__button--removeTask {
  background-color: crimson;
}

i {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
}

.hide {
  display: none
}

.list__paragraph{
  padding:5px 15px;
}